.allheader {
    background-color: #1f2937;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    background-color: #1f2937;
    border: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    background-color: #1f2937;
}

.header {
    font-size: 24px;
    font-weight: bold;
    padding-left: 100px;
    background-color: #1f2937;
}


* {
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.leftlink {
  display: flex;
  align-items: center;
  margin-right: 20px;
    list-style-type: none;
    display: flex;

    padding: 0;
    gap: 16px;
    background-color: #1f2937;
}

.maintitle {
    color: #fff;
    font-size: 48px;
    font-weight: 900;
    display: flex;
    width: 70%;
    background-color: #1f2937;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
    width: 65%;
    background-color: #1f2937;
}

.maintx {
    background-color: #1f2937;
    padding-left: 100px;
    margin-top: 0px;
    
}

.imgpl {
    background-color: gray;
    color: darkgrey;
    padding: auto;
    display: flex;
    justify-content: center;
    width: 800px;
    height: 250px;
    align-items: center;
    margin-right: 20px;
    margin-top: 0px;
}

.mainsec {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    margin-top: 0;
    background-color: #1f2937;
    padding-bottom: 60px;

}

.bone {
    color: white;
    background-color: #3882f6;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    border: none;
    margin-top: 10px;
    font-size: 16px;
}

.inhe {
    background-color: white;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 50px;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: 36px;
    color: #1f2937;
}

.allinfolist {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 30px;
    
    
}

.info {
    max-width: 170px;
    text-align: center;
    background-color: white;
}

img {
  background-color: white;
}


.quote {
    font-family: 'Light Italic';
    font-size: 36px;
    color: hsl(215, 28%, 17%);
    background-color: #e5e7eb;
   font-style: italic;
   padding-top: 60px;
   width: 60%;
}

.qbc {
    background-color: #e5e7eb;
   display: flex;
   justify-content: center;
}

.qcl {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: end;
    margin-right: 255px;
    background-color: #e5e7eb;
}

.bcqcl {
    background-color: #e5e7eb;
    padding-bottom: 30px;
}

.sub {
    border-radius: 8px;
    background-color: #3882f6;
    outline: 2px solid white;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    color: white;
    border: none;
}

.cta {
    display: flex;
    padding-bottom: 50px;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    width: 75%;
    border-radius: 8px;
    
}

.txto,
.txtw {
    background-color: #3882f6;
}

.bothtxt {
    margin-right: 100px;
}

.txto {
    font-size: 18px;
    color: white;
    font-weight: bold;
}

.txtw {
    font-size: 15px;
    color: #e5e7eb;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
}